.article-container-article {
	flex-direction: row;
	justify-content: center;
	max-width: 800px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	.options-lenses,
	.options-quantity {
		justify-content: center;
	}
	.choise-container {
		justify-content: space-around;
	}
	.button-container {
		justify-content: center;
	}
}
