$colour-primary: #9a61e1; /* Couleurs principales */
$colour-secondary: #e8a247;
$colour-background: #f3eaf1;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-red: #ff0000;
$colour-green: #00e600;

$background-image: linear-gradient(to left, $colour-secondary, $colour-primary);

$box-shadow: 2px 2px 2px lighten($colour-black, 40%);
$box-shadow-hover: 3px 3px 3px lighten($colour-black, 20%);
