.navbar-brand {
	box-shadow: $box-shadow;
}
.conteneur-navigations {
	.icones-nav_list {
		flex-direction: row;
		i:hover {
			color: lighten($colour-black, 15%);
			border-bottom: 2px solid lighten($colour-black, 15%);
		}
	}
	i {
		font-size: 1.5rem;
	}
	.toggle-nav {
		@media all and (max-width: 423px) {
			text-align: left !important;
		}
	}
}
