.header-secondary {
	justify-content: space-between;
	i:hover {
		text-shadow: 1px 1px 1px lighten($colour-black, 30%);
	}
	.titre-camera {
		font-size: 2rem;
	}
	.small-logo {
		flex-grow: 0;
		box-shadow: $box-shadow;
	}
}
